<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="css/style.css">
  <title>FAQ Template | CodyHouse</title>
</head>
<body>
<header class="cd-header flex flex-column flex-center" style="background: linear-gradient(90.03deg, #F15151 2.29%, #E4018E 98%);">
	<div style="font-weight: bolder;color:white;margin-bottom:30px">THE TRONICS STORE</div>
  <div class="text-component text-center">
    <h1>FAQ</h1>
    
  </div>
</header>
<style>
	span{
		color:black;
	}
	.cd-faq__trigger{
		color:black;
	}
	

</style>
<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics">Basics</a></li>
		<li><a class="cd-faq__category truncate" href="#mobile">Landing</a></li>
		<li><a class="cd-faq__category truncate" href="#account">Products</a></li>
		<li><a class="cd-faq__category truncate" href="#payments">Cart</a></li>
		<li><a class="cd-faq__category truncate" href="#privacy">Checkout</a></li>
		
	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title" ><h2 style="color:#777">Basics</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do I Login?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>When the website loads You will be prompted to authenticate. Just click on login and Enter your credentials and The site will let you in.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do I sign up?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>When the website loads You will be prompted to authenticate. Just click on signup and Enter your credentials, Once verified The site will let you in.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How does the login page work?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>We have combined the login and signup page into a single animated wrap up so when you enter the page you have the option to do both.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="mobile" class="cd-faq__group">
			<li class="cd-faq__title"><h2 style="color:#777">Landing</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What is in the landing page?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>The landing page is the page where the products are displayed here you can find random products or you can filter the products categorically based on the categories available in the header.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What are the various categories of products available?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>The categories include mobile phones, laptops, Gaming consoles, Cameras, smart wearables, etc.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			
		</ul> <!-- cd-faq__group -->

		<ul id="account" class="cd-faq__group">
			<li class="cd-faq__title"><h2 style="color:#777">Products</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What is the products page?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Once you select a product from the landing page it is displayed in full in this page , you can view the product specifications, the product details, the price , the savings, etc . You can also review the products here</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Wheere do i review a product?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Products can be reviewed below the landing screen. Here you can see the comments made by other users and also add your own comments.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			

			
		</ul> <!-- cd-faq__group -->

		<ul id="payments" class="cd-faq__group">
			<li class="cd-faq__title"><h2 style="color:#777">Cart</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What is the cart page?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>The cart page is the page where your saved items are displayed, from here you can control your cart contents and also see the total price and savings of all products cummulatively.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do i remove items from the cart?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>You can easily delete items from the cart by clicking the delete button right next to each product.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do i checkout?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Once you have finalized your products you can click on the button proceed to checkout which will guide you to the checkout process.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="privacy" class="cd-faq__group">
			<li class="cd-faq__title"><h2 style="color:#777">Checkout</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What does checkout page do?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>This page collects your information and delivery address and payment method and creates a bill that is sent to you via email.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do i place my order?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Once you have filled the delivery details and selected the payment method, click on the place order button that will generate the invoice and send you the email.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			

			
		</ul> <!-- cd-faq__group -->

		
	</div> <!-- cd-faq__items -->

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script src="js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
<script src="js/main.js"></script> 
</body>
</html>